{% extends 'base.html' %} 
{% load static %}
<link rel="stylesheet" href="{% static 'create_item.css' %}">
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <h1 class="text-center">Add New Item</h1>
            
            <form method="POST">
                {% csrf_token %}
                <table class="table table-bordered mt-4">
                    <tbody>
                        <tr>
                            <th class="text-right"><label for="{{ form.owner.id_for_label }}" class="form-label">Owner:</label></th>
                            <td>{{ form.owner }}</td>
                        </tr>
                        <tr>
                            <th class="text-right"><label for="{{ form.item_name.id_for_label }}" class="form-label">Item Name:</label></th>
                            <td>{{ form.item_name }}</td>
                        </tr>
                        <tr>
                            <th class="text-right"><label for="{{ form.category.id_for_label }}" class="form-label">Category:</label></th>
                            <td>{{ form.category }}</td>
                        </tr>
                        <tr>
                            <th class="text-right"><label for="{{ form.amount.id_for_label }}" class="form-label">Amount:</label></th>
                            <td>{{ form.amount }}</td>
                        </tr>
                        <tr>
                            <th class="text-right"><label for="{{ form.price.id_for_label }}" class="form-label">Price:</label></th>
                            <td>{{ form.price }}</td>
                        </tr>
                        <tr>
                            <th class="text-right"><label for="{{ form.description.id_for_label }}" class="form-label">Description:</label></th>
                            <td>{{ form.description }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Add Item</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
