{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <h1 class="text-center">Edit Item</h1>

            <form method="POST" class="mt-4">
                {% csrf_token %}
                <table class="table table-bordered">
                    {{ form.as_table }}
                    <tr>
                        <td></td>
                        <td class="text-center">
                            <button type="submit" class="btn btn-primary">Edit Item</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}
