{% extends 'base.html' %}
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


{% block content %}
<style>
    .custom-card {
        background-color:#364F6B;
        color: #F5F5F5;
    }
    .custom-text {
        font-size: 14px;
    }
    .custom-title {
        font-size: 20px;
    }
    .custom-subtitle {
        font-size: 16px;
        color: #3FC1C9;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <!-- Logo di sebelah kiri -->
        <a class="navbar-brand fw-bold fs-1" href="#">
            <img src="{% static 'weblogo.png' %}" width="50" height="50" class="d-inline-block align-top" alt="Logo">
            Goodang
        </a>

        <!-- Tombol Logout di sebelah kanan -->
        <a href="{% url 'main:logout' %}">
            <button class="btn btn-outline-success me-2" type="button">Logout</button>  
        </a>
        
    </div>
</nav>

<div class="container mt-5">

    <div class="row">
        <div class="col-md-6">
            <h5>Name:</h5>
            <p>{{ name }}</p>

            <h5>Class:</h5>
            <p>{{ class }}</p>

            <div class="item-count">
                <p>Total of Items: {{ items|length }}</p>
            </div>
        </div>
    </div>
    
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Item</button>
    <br>
    <br>
    <div class="row" id="item_cards"></div>
    <h5 class="mt-3" style="font-size: 14px;">Sesi terakhir login: {{ last_login }}</h5>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="resetForm()"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="owner" class="col-form-label">Owner:</label>
                        <input type="text" class="form-control" id="owner" name="owner"></input>
                    </div>
                    <div class="mb-3">
                        <label for="item_name" class="col-form-label">Item Name:</label>
                        <input type="text" class="form-control" id="item_name" name="item_name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="category" class="col-form-label">Category:</label>
                        <input type="text" class="form-control" id="category" name="category"></input>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount"></input>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="col-form-label">Price:</label>
                        <input type="number" class="form-control" id="price" name="price"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="resetForm()">Close</button>
                <button type="button" class="btn btn-success" id="button_add" data-bs-dismiss="modal">Add Item</button>
            </div>
        </div>
    </div>
</div>



<script>
    async function getItems() {
        return fetch("{% url 'main:get_item_json' %}").then((res) => res.json())
    }
    async function refreshItems() {
        document.getElementById("item_cards").innerHTML = ""
        const items = await getItems()
        htmlString = ""
        items.forEach((item) => {
            htmlString += `
            <div class="col-md-4">
                <div class="card mb-3 custom-card">
                    <div class="card-body">
                        <h5 class="card-title custom-title">${item.fields.item_name}</h5>
                        <h6 class="card-subtitle mb-2 custom-subtitle">${item.fields.owner}</h6>
                        <p class="card-text custom-text">Category: ${item.fields.category}</p>
                        <p class="card-text custom-text">Amount: ${item.fields.amount}</p>
                        <p class="card-text custom-text">Price: ${item.fields.price}</p>
                        <p class="card-text custom-text">Description: ${item.fields.description}</p>
                        <button class="btn btn-danger btn-sm" onclick="deleteItem(${item.pk})">Delete</button>
                    </div>
                </div>
            </div>
            `;

            document.getElementById("item_cards").innerHTML = htmlString
        });       
    }

    refreshItems()

    function addItem() {
        fetch("{% url 'main:add_item_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshItems)

        document.getElementById("form").reset()
        return false
    }
    document.getElementById("button_add").onclick = addItem

    function resetForm() {
        document.getElementById("form").reset();
    }

    function deleteItem(itemId) {
        if (confirm("Are you sure you want to delete this item?")) {
            fetch(`{% url 'main:delete_item_ajax' %}?item_id=${itemId}`, {
                method: "POST",
            })
            .then(refreshItems)
        }
    }

</script>

{% endblock content %}
