{% extends 'base.html' %}

{% block content %}
    <h1>Goodang Page</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>
    
    <p>Total of Items: {{items|length}}</p>
    <table>
        <tr>
            <th>Owner</th>
            <th>Item Name</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>

        {% comment %} Berikut cara memperlihatkan data item di bawah baris ini {% endcomment %}

        {% for item in items %}
            <tr>
                <td>{{item.owner}}</td>
                <td>{{item.item_name}}</td>
                <td>{{item.category}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.price}}</td>
                <td>{{item.description}}</td>
                <td>{{item.date_added}}</td>
                <td>
                    <form method="POST" action="{% url 'main:add_items' item.id %}">
                        {% csrf_token %}
                        <button type="submit">Add</button>
                    </form>
                </td>
                <td>
                    <form method="POST" action="{% url 'main:sub_items' item.id %}">
                        {% csrf_token %}
                        <button type="submit">Decrease</button>
                    </form>
                </td>
                <td>
                    <form method="POST" action="{% url 'main:remove_items' item.id %}">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <br />

    <a href="{% url 'main:create_item' %}">
        <button>
            Add New Item
        </button>
    </a>

    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>

    <h5>Sesi terakhir login: {{ last_login }}</h5>
    
{% endblock content %}